html {
  font-size: 16px;
}
.displayTimer {
  font-size: 5rem;
}

.controlButton{
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 1px;
}

.controlButton:hover, .controlButton:focus {
  background-color: #111;
  color: #fff;
  border: none;
}

.form-control, .form-control:focus {
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
  margin-bottom: 1em;
  font-size: 3rem;
  height: auto;
}

.tasksListDisplay {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

[data-id="test"] {
  list-style: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 22px;
  font-weight: 400;
  padding: 20px;
}

.completed {
  color: #ccc;
}
