html {
  font-size: 18px;
  box-sizing: border-box;

}
html,body {
  height: 100%;
  min-height: 100%;
}

body {
  color: #666;
  font-weight: 300;
  font-family: 'Titillium Web', sans-serif; 
  margin: 0;
}

.minipomo {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr 100px;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}

a {
  color: #CC927A;
}

a:hover {
  color: #666;
}

.navbar {
  width: 100%;
  background: lightsalmon;
  border: none;
  text-align: center;
  padding: 10px 0;
}
.navbar a {
  color: white;

}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.breakSession {
    background-color: #666;
}
.workSession {
  background-color: lightsalmon;
}

.label-before {
  font-size: 3rem;
}

.displayTimer {
  font-size: 10rem;
  grid-column: 1 / -1;
  align-self: center;
  justify-self: center;
}

.btn-group {
  display: grid;
  grid-template: 40px / 1fr 1fr;
  grid-gap: 10px;
  grid-column: 2/3;
}

.shortcuts {
  grid-column: 2 / 3;
  text-align: center;
}


.controlButton{
  background-color: lightsalmon;
  color: #fff;
  border: none;
  border-radius: 1px;
}

.controlButton:hover, .controlButton:focus {
  background-color: #333;
  color: #fff;
  border: none;
}

.feedback {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20px);
  grid-gap: 5px;
  height: 20px;
  grid-column: 2/3;
}

.delete {
  color: #95989A;
}

.credits {
  width: 100%;
  text-align: center;
  font-size: 1rem;
}

.fa-heart {
  color: #CC927A;
}

.donate {
  text-align: right;
}




@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: 1fr 2fr 1fr;
  }
  .displayTimer {
    font-size: 6rem;
  }
}


@media screen and (max-width: 415px) {
  .displayTimer {
    font-size: 4rem;
  }
  .btn-group {
    grid-template: 20px / 1fr 1fr;
  }
  .credits {
    font-size: 0.7rem;
  }

  .madewithlove {
    padding: 10px;
  }
}
